<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeviceInfoSend.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE4BF7661BE68B9100986A45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE4BF77A1BE68B9100986A45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE4BF7851BE68B9100986A45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
